h1{
  color: red;
  border: 15px solid blue;
}

body{
  text-align:center;
}

pre {
  color: orangered;
  font-family: "Times New Roman", serif;
}

.border-love {
  border: 10px solid transparent;
  padding: 20px;
  border-image: repeating-linear-gradient(
    90deg,
    yellow 0 10px,
    transparent 10px 20px
  ) 10;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.border-love::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}

.border-love::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}
 nav ul{
   list-style:none;
   padding:0;
   margin:0;
   background-color: gray;
   overflow:hidden;
 }
 
  nav ul li{
    float:left;
  }
  
  nav ul li a{
    display:block;
    color:black;
    text-decoration:none;
    padding:12px 15px ;
  }
  
  nav ul li a:hover{
   background-color: #938989;
    
  }
