h1{
  color: red;
  border: 15px solid blue;
}

body{
  text-align: center;
}

pre
.garis-love {
  text-align: left;
  font-size: 24px;
  letter-spacing: 10px; /* jarak antar love */
  color: yellowgreen
}

pre .garis-love::before {
  content:"";
}
.border-love {
  border: 10px solid transparent;
  padding: 20px;
  border-image: repeating-linear-gradient(
    90deg,
    yellow 0 10px,
    transparent 10px 20px
  ) 10;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.border-love::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}

.border-love::after {
  content:"";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
}
